<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>开奖推送header</string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>keyName</key>
				<string>q</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>双色球</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>w</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>大乐透</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>e</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>3D</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>r</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>七彩乐</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>t</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>排列3</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>y</string>
				<key>detail</key>
				<string>每周开奖</string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>排列5</string>
				<key>accessory</key>
				<string>UISwitch</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
